* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
}

header {
  padding: 20px;
  background: #111;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}



input {
  outline: none;
}

button {
  margin-left: 10px;
}








.card h3 {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 12px;
  background: crimson;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

button:hover {
  background: darkred;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
}
